<table>
<strong>Posts:</strong>

<%= @blog.posts %>
</p>
<p>

<strong>Comments:</strong>

<%= @blog.comments %>

</p>
<strong>Username:</strong>

<%= @blog.username %>

</p>

<br>
<%= link_to 'Back', :back %>
</table>