<table>
<strong>username:</strong>
<%= @employee_rating.name %>
</p>
<p>
<strong>rating:</strong>
<%= @employee_rating.rating %>
</p>
<strong>reporting_manager:</strong>
<%= @employee_rating.reporting_manager %>
</p>
<%= link_to 'Back', :back %>
</table>