<table>
<strong>Name:</strong>

<%= @project.name %>
</p>
<p>

<strong>Duration:</strong>

<%= @project.duration %>

</p>
<strong>Total Team:</strong>

<%= @project.total_team %>

</p>

<br>
<%= link_to 'Back', :back %>
</table>