
<div style="width:400px;margin:0px auto;padding: 20px;text-align:left;background: #FFE5B4; color: black;">


<h2>Editing Employee Role</h2>

<%= render 'form', employee_role: @employee_role %>

<%= link_to 'Show', @employee_role %> |
<%= link_to 'Back', employee_roles_path %>
</div>
