


<table border="5" bordercolor=black; background:grey ; color:black>
        <tr>
            <th align="center">  Employee Name</th>
            <th align="center">  Role</th>
            
            
        </tr>
        <tr>
            <td><%= @employee_role.name %></td>
            <td><%= @employee_role.role%></td>
          
            
        </tr>
</table>

<%= link_to 'Back', employee_roles_path %>
